
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

html,
body {
	height: 100%;
	font-family: "Work Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Work Sans", sans-serif;
	color: #6a6b7c;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
	border-left: 5px solid rebeccapurple;
	transition: all 0.2s ease-in;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	opacity: 0.7;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.header-with-hero-container{
	background-image: url("../img/hero.png");
	width: 100%;
	height: 100vh;
	background-size: cover;
}

.header-section {
	padding: 10px 3%;
	width: 100%;
}

.header-section-container {
	width: 100%;
}

.logo {
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	float: right;
}

.nav-menu .mainmenu {
	display: inline-block;
}

.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	position: relative;
}

.nav-menu .mainmenu ul li .dropdown {
	position: absolute;
	width: 180px;
	background: #ffffff;
	z-index: 99;
	left: 0;
	top: 130px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .mainmenu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
	padding: 8px 10px;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: capitalize;
	color: #fff;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
	color: #f44949;
}

.nav-menu .mainmenu ul li .dropdown li a:after {
	display: none;
}

.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 100px;
}

.nav-menu .mainmenu ul li a {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	padding: 42px 0;
	position: relative;
	display: inline-block;
}

.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 36px;
	height: 2px;
	width: 100%;
	background: #F44949;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .primary-btn.top-btn {
	margin: 27px 0;
}

.hero-section {
	margin: 0 3%;
}

.hero-section .hero-text {
	width: 400px;
	position: relative;
	background-color: #171822;
	border-radius: 10px;
	color: #fff;
	padding: 40px 0;
	margin-top: 250px;
	margin-left: 100px;
}

.hero-section .hero-text h1 {
	font-size: 40px;
	margin: 10px 30px;
}

.hero-section .hero-text h1 {
	color: #fff;
	margin-bottom: 40px;
}

.edition-label{ 
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 20px; 
	color: yellow;
}

.contact-form-section {
	padding: 100px 0;
	background: url('../img/contact-form-bg.jpg');
	background-size: contain;
}

@media screen and (max-width: 991px) {
	.contact-form-bg {
		display: none;
	}
}

.contact-form-card {
	background: #fff;
	position: absolute;
	top: 30px;
	left: -50px;
	padding: 30px;
	width: 100%;
	border-radius: 5px;
}

@media screen and (max-width: 991px) {
	.contact-form-card {
		position: relative;
		top: 0;
		left: 0;
	}
}

.contact-form-card-inner {
	border: 1px solid #000;
	padding: 20px;
	border-radius: 5px;
}

.contact-form-card-inner h4 {
	text-transform: uppercase;
	padding: 10px 5px;
	margin-bottom: 20px;
	position: relative;
	margin: 10px auto;
	display: flex;
	align-items: center;
	column-gap: 1rem;
	max-width: 25rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.contact-form-card-inner h4::before,
.contact-form-card-inner h4::after {
  flex: 1;
  content: "";
  height: .2rem;
  border-block: .15rem solid #8e9193;
}


.form-input, textarea {
	width: 100%;
	padding: 5px 10px;
	margin: 0 0 15px 0;
}

.interested-input {
	height: 37px;
}

.contact-mail {
	margin: 10px;
}

.consent-notice {
	margin-bottom: 20px;
}

.map-section {
	background: url('../img/map-bg.jpg');
	background-size: contain;
	position: relative;
}

.map-loading-label {
	width: 100%;
	height: inherit;
	position: absolute;
	color: #000;
	top: 0;
	text-align: center;
	z-index: -1;
}


.event-details-section {
	background: url('../img/event-details.jpg');
	background-size: contain;
	padding: 3% 0;
}

.event-details-section-card {
	background: #fff;
	border-radius: 5px;
	margin: 2% 0;
	position: relative;
	padding-bottom: 3%;
}

@media screen and (max-width: 991px) {
	.event-details-section {
		padding: 2% 0;
	}

	.event-details-section-card {
		padding: 1% 0;
	}
}

.event-details-section-title {
	text-transform: uppercase;
	text-align: center;
	padding: 3% 0;
	position: relative;
	margin-bottom: 3%;
}

@media screen and (max-width: 991px) {
	.event-details-section-title {
		font-size: 40px;
	}

	.event-details-section-card h1::before,
	.event-details-section-card h1::after {
		margin-bottom: -10px;
	}
}

@media screen and (max-width: 767px) {
	.event-details-section-title {
		font-size: 30px;
	}
}

.event-details-section-card h1::before {
	content: "";
	position: absolute;
	left: 25%;
	bottom: 16px;
	width: 20%;
	height: 7px;
	transform: skew(-12deg) translateX(-50%);
	background: rgba(238,111,87,0.5);
}

.event-details-section-card h1::after {
	content: "";
	position: absolute;
	right: 4%;
	bottom: 16px;
	width: 20%;
	height: 7px;
	transform: skew(-12deg) translateX(-50%);
	background: rgba(238,111,87,0.5);
}

.event-details-section-card h3 {
	text-align: center;
}

@media screen and (max-width: 991px) {
	.event-details-section-card h3 {
		font-size: 23px;
	}
}

.event-details-content {
	margin: 5% 0;
}

.event-details-content ul {
	width: 70%;
	margin: 0 auto;
	list-style: none;
}

.event-details-content ul li {
	margin-bottom: 8px;
}

.event-details-content ul li::before{
	content: ".";
	width: 20px;
	height: 20px;
	background: #673ab7;
	position: relative;
	margin-right: 5px;
	color: #673ab7;
}

.social-media-container h3 {
	padding: 5px;
	border-bottom: 3px solid rebeccapurple;
	width: 50%;
	margin: 0 auto;
}

.social-media-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 1EM;
}

.social-media-list li {
	margin: 5px;
}

.footer-section {
	background: #171822;
	padding: 20px 0;
}

.invalid-input {
	border: 2px solid red !important;
  }

  #my-form-status {
	margin: 20px 0 0 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.checkmark {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #4bb71b;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #4bb71b;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
	position:relative;
	top: 1px;
	right: 10px;
	margin: 0 auto;
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #4bb71b;
	fill: #fff;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.copyright-text {
	color: #fff;
}

